
<div class="header">
    <h2 class="header">Bill Pay-App Pricacy, Policies and Instructions</h2>
</div>
<div>
<h2 class="subHeader">Privacy:</h2>
    <ul><li style="color:red">correctly being updated</li></ul>
<h2 class="subHeader">Policy:</h2>
    <ul><li style="color:red">correctly being updated</li></ul>
    </br>
</div>
<div>
<h2 class="subHeader">About Us:</h2>
    <ul>
    <p>Bill Pay was developed by Mr. Mallon Nick Blair a boot camp student of the Caribbean Coding Academy.</br>
    The Caribbean Coding Academy is a technology and business incubator located on H.A. Blaize Street, St. George’s Grenada.</br>
    The creation of the App was due to the long lines being experienced by persons trying to Pay their utilities bills
    and exasperated by the need for Social and Physical distancing because of COVID 19 Pandemic.</p>
    </br>
    </ul>
</div>
<div>
<h2>Contact us</h2>
    <ul>
    <li>Website: example.com</li>
    <li>Email: example@gmail.com</li>
    <li>TEll: 999 999-999</li>
    </br>
    </ul>
</div>
<div>
<h2 class="subHeader">Step by Step Instructions for Bill Pay:</h2>
    <ul><li> First Create an Account</li>
    <li> Type in First Name</li>
    <li> Type in Last Name</li>
    <li> Type in Email Address</li>
    <li> Type in Home Address</li>
    <li> Type in Phone Number</li>
    <li> Type in Password</li>
    <li> Confirm Password</li></ul>
    </br>
</div>
<div>
<h2 class="subHeader">Create a Password:</h2>
    <ul><li> Account should not have less than 6 characters</li>
    <li> Re-Enter Password</li></ul>
    </br>
</div>
<div>
<h2 class="subHeader">Log in Instruction:</h2>
    <ul><li> Type in your email address</li>
    <li> Type in your password</li>
    <li> Click on Remember Me (save your password)</li>
    <li> Press Login</li></ul>
    </br>
</div>
<div>
<h2 class="subHeader">Bill Payment Instruction Page:</h2>
    <ul><li> Click on the drop-down triangle Icon-top right-hand corner</li>
    <li> Select which company bill you you paid to view payment details</li>
    <li> You can also select all to view all company payment details</li></ul>
    </br>
</div>
<div>
<h2 class="subHeader">Next Page:</h2>
    <ul><li> Click on Utility Company, to Select the Company Name you are Paying your bill to</li>
    <li> Click on Bank Name, to Select your Financial Institution, For example, Grenada Co-Operative Bank</li>
    <li> Utility Account Number: Add the account number of the Utility Company you are paying your bill to</li>
    <li> Amount Paying</li>
    <li> Debit Card is not Required at the moment</li>
    <li> CVC Number is not Required at the moment</li>
    <li> SUBMIT</li></ul>
    </br>
    </br>
    </br>
</div>

<style>
    .header{
        color:white;
        font-size:40px;
        text-decoration:underline;
        background:blue;
        height:60px;
    }
    .subHeader{
        color:darkblue;
    }
    li{
        color:blue;
    }
    p{
        color:blue;
    }
    div{
        box-shadow: #421D5D 0px 5px 15px;
    }
</style>